<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link href="/spojtweet.css" rel="stylesheet" type="text/css">
<title>SpojTweet - {{name|striptags}}</title>
</head>
<body>
<header>
  <div class="header_box">
    <b>SpojTweet</b>
    <a class="login_button" 
       href="/settings/login">Join or log in using Twitter</a>
  </div>
</header>
<div class="content">
  <div class="user">
    <b class="name">{{name|striptags}}</b><br>
    <span class="country">{{country|striptags}}</span>
  </div>
  {% if events %}
    <div class="event">
      <p>{{name|striptags}} has just solved the following problems!</p>
      <p>
      {% for event in events %}
        <a href="http://www.spoj.pl/problems/{{event.code}}">{{event.code}}</a>
      {% endfor %}
      </p>
    </div>
  {% endif %}
  <section>
    <h2>Badges</h2>
    <div class="badge">
    {% for badge in badges %}
    <div class="{{badge.value}}" title="{{badge.description}}">
      {{badge.name}}
    </div>
    {% empty %}
    <p>No bagdes</p>
    {% endfor %}
    </div>
  </section>
</div>
<footer>
  <a href="/">About SpojTweet</a> |
  <a href="http://code.google.com/p/spojtweet/">Source code</a> |
  <a href="http://code.google.com/p/spojtweet/issues/list">Report a bug</a>
</footer>
</body>
</html>
